<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="io.github.sporklibrary.android">

	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application
		android:label="Spork Tests"
		android:name=".Application">

		<activity android:name=".bindfragment.domain.TestActivityApi17"/>
		<activity android:name=".bindfragment.domain.TestActivity"/>

		<activity android:name=".bindclick.domain.TestActivity"/>

		<activity android:name=".bindresource.domain.TestActivity"/>

		<activity android:name=".bindview.domain.TestActivity"/>

		<activity android:name=".bindlayout.domain.TestActivity"/>

		<activity android:name=".contextprovider.domain.TestActivity"/>

		<service android:name=".bindcomponent.service.TestService" />

		<provider
			android:authorities="sporktest"
			android:name=".bindcomponent.provider.TestContentProvider" />

	</application>

</manifest>
