<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="io.github.sporklibrary.test">

	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

	<application android:allowBackup="true"
		android:label="Spork Tests">

		<activity android:name=".activities.TestActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activities.TestActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
